body {
    margin: 0;
    padding: 0;
    background-image: url('https://wallpapercave.com/dwp1x/wp4766733.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content ul {
    list-style-type: none;
    margin-left: 2;
    margin-right: 2;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.content li {
    float: left;
}

.content li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.content li a:hover {
    background-color: black;
}

.content h1 {
    color: darkred;
    text-align: center;
}

.content h2 {
    color: rgb(74, 32, 2);
    text-align: center;
}

.content h3 {
    color: rgb(163, 4, 4);
    text-align: left;
}

img {
    max-width: 20%;
    height: auto;
    margin: 20px;
  }










